.notification-badge {
    position: relative;
    /* display: inline-block; */
  }
  
  .badge {
    position: absolute;
    top: -7px;
    right: -1px;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  